Connected Services/ServiceCavat/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65007/ServiceCavat.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65007/ServiceCavat.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65007/ServiceCavat.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfComun" />
      <xsd:import schemaLocation="http://localhost:65007/ServiceCavat.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCavat_AccesLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AccesLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_AccesLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccesLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_ResgistroUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ResgistroUser" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_ResgistroUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResgistroUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatalogo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatalogo" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatalogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatalogoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatConstruccion_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatConstruccion" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatConstruccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatConstruccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatZonasDesCentralizados_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatZonasDesCentralizados" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatZonasDesCentralizados_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatZonasDesCentralizadosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatLocalidadesCentr_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatLocalidadesCentr" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatLocalidadesCentr_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatLocalidadesCentrResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatLocalidadesDes_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatLocalidadesDes" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatLocalidadesDes_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatLocalidadesDesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatZonasCentralizados_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatZonasCentralizados" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatZonasCentralizados_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatZonasCentralizadosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatUbicacion" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatUbicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatGeneral" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatUsoSuelo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatUsoSuelo" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatUsoSuelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatUsoSueloResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_CatalogConstCentralizados_InputMessage">
    <wsdl:part name="parameters" element="tns:CatalogConstCentralizados" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_CatalogConstCentralizados_OutputMessage">
    <wsdl:part name="parameters" element="tns:CatalogConstCentralizadosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCavat">
    <wsdl:operation name="AccesLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/AccesLogin" message="tns:IServiceCavat_AccesLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/AccesLoginResponse" message="tns:IServiceCavat_AccesLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResgistroUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/ResgistroUser" message="tns:IServiceCavat_ResgistroUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/ResgistroUserResponse" message="tns:IServiceCavat_ResgistroUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatalogo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatalogo" message="tns:IServiceCavat_VerCatalogo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatalogoResponse" message="tns:IServiceCavat_VerCatalogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatConstruccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatConstruccion" message="tns:IServiceCavat_VerCatConstruccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatConstruccionResponse" message="tns:IServiceCavat_VerCatConstruccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatZonasDesCentralizados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatZonasDesCentralizados" message="tns:IServiceCavat_VerCatZonasDesCentralizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatZonasDesCentralizadosResponse" message="tns:IServiceCavat_VerCatZonasDesCentralizados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatLocalidadesCentr">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatLocalidadesCentr" message="tns:IServiceCavat_VerCatLocalidadesCentr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatLocalidadesCentrResponse" message="tns:IServiceCavat_VerCatLocalidadesCentr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatLocalidadesDes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatLocalidadesDes" message="tns:IServiceCavat_VerCatLocalidadesDes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatLocalidadesDesResponse" message="tns:IServiceCavat_VerCatLocalidadesDes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatZonasCentralizados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatZonasCentralizados" message="tns:IServiceCavat_VerCatZonasCentralizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatZonasCentralizadosResponse" message="tns:IServiceCavat_VerCatZonasCentralizados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatUbicacion" message="tns:IServiceCavat_VerCatUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatUbicacionResponse" message="tns:IServiceCavat_VerCatUbicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatGeneral" message="tns:IServiceCavat_VerCatGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatGeneralResponse" message="tns:IServiceCavat_VerCatGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatUsoSuelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatUsoSuelo" message="tns:IServiceCavat_VerCatUsoSuelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatUsoSueloResponse" message="tns:IServiceCavat_VerCatUsoSuelo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CatalogConstCentralizados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/CatalogConstCentralizados" message="tns:IServiceCavat_CatalogConstCentralizados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/CatalogConstCentralizadosResponse" message="tns:IServiceCavat_CatalogConstCentralizados_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCavat" type="tns:IServiceCavat">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccesLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/AccesLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResgistroUser">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/ResgistroUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatalogo">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatalogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatConstruccion">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatConstruccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatZonasDesCentralizados">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatZonasDesCentralizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatLocalidadesCentr">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatLocalidadesCentr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatLocalidadesDes">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatLocalidadesDes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatZonasCentralizados">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatZonasCentralizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatUbicacion">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatUbicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatGeneral">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatUsoSuelo">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatUsoSuelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogConstCentralizados">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/CatalogConstCentralizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceCavat" binding="tns:BasicHttpBinding_IServiceCavat">
      <soap:address location="http://localhost:65007/ServiceCavat.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>