Connected Services/ServiceCavat/ServiceCavat2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65007/ServiceCavat.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfComun" />
  <xs:element name="AccesLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfComun" minOccurs="0" name="log" nillable="true" type="q1:login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccesLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcfComun" minOccurs="0" name="AccesLoginResult" nillable="true" type="q2:wRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResgistroUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcfComun" minOccurs="0" name="reg" nillable="true" type="q3:Registro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResgistroUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResgistroUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerCatalogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerCatalogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wcfComun" minOccurs="0" name="VerCatalogoResult" nillable="true" type="q4:wRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerCatConstruccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opc" type="xs:int" />
        <xs:element minOccurs="0" name="municipio" type="xs:int" />
        <xs:element minOccurs="0" name="año" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerCatConstruccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcfComun" minOccurs="0" name="VerCatConstruccionResult" nillable="true" type="q5:wRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>