Connected Services/ServiceCavat/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65007/ServiceCavat.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65007/ServiceCavat.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65007/ServiceCavat.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfComun" />
      <xsd:import schemaLocation="http://localhost:65007/ServiceCavat.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCavat_AccesLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AccesLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_AccesLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccesLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_ResgistroUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ResgistroUser" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_ResgistroUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResgistroUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatalogo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatalogo" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatalogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatalogoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatConstruccion_InputMessage">
    <wsdl:part name="parameters" element="tns:VerCatConstruccion" />
  </wsdl:message>
  <wsdl:message name="IServiceCavat_VerCatConstruccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerCatConstruccionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCavat">
    <wsdl:operation name="AccesLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/AccesLogin" message="tns:IServiceCavat_AccesLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/AccesLoginResponse" message="tns:IServiceCavat_AccesLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResgistroUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/ResgistroUser" message="tns:IServiceCavat_ResgistroUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/ResgistroUserResponse" message="tns:IServiceCavat_ResgistroUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatalogo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatalogo" message="tns:IServiceCavat_VerCatalogo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatalogoResponse" message="tns:IServiceCavat_VerCatalogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerCatConstruccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCavat/VerCatConstruccion" message="tns:IServiceCavat_VerCatConstruccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCavat/VerCatConstruccionResponse" message="tns:IServiceCavat_VerCatConstruccion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCavat" type="tns:IServiceCavat">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccesLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/AccesLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResgistroUser">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/ResgistroUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatalogo">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatalogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerCatConstruccion">
      <soap:operation soapAction="http://tempuri.org/IServiceCavat/VerCatConstruccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceCavat" binding="tns:BasicHttpBinding_IServiceCavat">
      <soap:address location="http://localhost:65007/ServiceCavat.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>